## Measure of Dispersion

In [2]:
ages_lst = [23,43,23,56,74,35,6,8,78,45]

In [3]:
import numpy as np

In [5]:
mean = np.mean(ages_lst)

In [6]:
mean

39.1

In [8]:
var = np.var(ages_lst)

In [9]:
var

566.49

In [10]:
std = np.std(ages_lst)

In [13]:
std

23.801050396988785

In [14]:
import pandas as pd

In [21]:
data = [[1,2,3],[34,23,45],[32,34,21]]

In [22]:
data

[[1, 2, 3], [34, 23, 45], [32, 34, 21]]

In [25]:
df = pd.DataFrame(data, columns = ["a","b","c"])
df

    a   b   c
0   1   2   3
1  34  23  45
2  32  34  21

In [33]:
## Column wise varaince
df.var()

a    342.333333
b    264.333333
c    444.000000
dtype: float64

In [32]:
## Row wise varaince
df.var(axis = 1)

0      1.0
1    121.0
2     49.0
dtype: float64